<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Consume_Servicio_i2es.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Consume_Servicio_i2es.Properties.Settings>
            <setting name="Consume_Servicio_i2es_Clientes_ws_actualizacion_clientes"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_clientes.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Pedidos_Estado_ws_estados_pedidos"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_estados_pedidos.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_ws_envio_cupones_ws_actualizacion_cuponessorteo"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_cuponessorteo.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Cotizacion_ws_actualizar_cotizacion"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_cotizacion.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Actualizacion_Articulos_ws_actualizacion_articulos"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_articulos.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Baja_Articulos_ws_actualizacion_articulosbaja"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_articulosbaja.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Actualizacion_Stock_Precio_ws_actualizacion_stockprecio"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_stockprecio.php</value>
            </setting>
            <setting name="Consume_Servicio_i2es_Actualizacion_stock_unidad_ws_actualizacion_stockunidad"
                serializeAs="String">
                <value>https://shop.aluminios.com:443/ws/ws_actualizacion_stockunidad.php</value>
            </setting>
        </Consume_Servicio_i2es.Properties.Settings>
    </applicationSettings>
</configuration>
